div {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

button {
    width: 50px;
    height: 50px;
}

.manHinh {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    

}
body {
    display: flex;
    flex-direction: column;
}